<app-nav-bar></app-nav-bar>
<div class="user-profile">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{user.Username}}'s Profile Page</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><b>Username:</b> {{user.Username}}</p>
      <p><b>Email:</b> {{user.Email}}</p>
      <p><b>Birthday:</b> {{user.Birthday}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        (click)="openEditProfile()"
        style="margin-right: 10px;"
        color="primary"
      >
        Edit Profile
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="fav-wrapper">
  <h2 class="header">Your Favorites</h2>
  <mat-card *ngFor="let movie of favMov;" class="mainCard">
    <mat-card-header><h1>{{movie.Title}}</h1></mat-card-header>
    <mat-card-content>
      <img src="{{movie.imageUrl}}" alt="{{movie.Title}}" class="img"/>
    </mat-card-content>
    <mat-card-actions>
      <button
          mat-raised-button
          color="primary"
          (click)="openMovieDetailDialog(
            movie.Title,
            movie.Description
          )"
        >
          Movie Details
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="openDirectorDialog(
            movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birth
          )"
        >
          Director
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="openGenreDialog(
            movie.Genre.Name,
            movie.Genre.Description
          )"
        >
          Genre
        </button>
    </mat-card-actions>
    <mat-icon
          (click)="removeFavMovie(
            movie._id,
            movie.Title
          )"
        >
          favorite
        </mat-icon>
  </mat-card>
</div>